{% extends "base.html" %}

{% block title %}Projetos | DevTeam{% endblock %}


{% block content %}

<form method="get">
    <input type="text" name="busca" placeholder="Buscar..." value="{{ request.GET.busca }}">
    <select name="ordenar_por">
        <option value="titulo" {% if request.GET.ordenar_por == 'titulo' %}selected{% endif %}>Título (A-Z)</option>
    </select>
    <button type="submit">Filtrar</button>
</form>


<section id="projetos" class="projetos">
  <div class="section-header">
    <h3>Projetos</h3>
    <a class="projetos-btn" href="{% url 'home' %}#projetos">Voltar para a home</a>
  </div>

  {% for projeto in projetos %}
    <a href="{{ projeto.link }}" target="_blank" class="card">
      <div class="info">
        <h4>{{ projeto.titulo }}</h4>
        <p>{{ projeto.descricao }}</p>
      </div>
      <div class="ano-link">
        <span class="ano">{{ projeto.ano }}</span>
      </div>
    </a>
  {% endfor %}
</section>
{% endblock %}
